.navbar ul {
    list-style-type: none;
    background-color: orange;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 5px;
} 
.navbar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: sans-serif;
    border-radius: 5px;
    font-weight: bold;
}
.navbar a:hover{
    background-color: moccasin; 
    color: black;
}
.navbar li {
    float: left;
}
body {
    width: auto;
    margin: 0px;
    background-color: moccasin;
}
h1 {
    font-family: sans-serif;
    text-align: center;
    font-weight: 900;
}
img {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    border-radius: 5%;
}
p {
    text-align: center;
    width: 305;
    padding-left: 35%;
    padding-right: 35%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    overflow: hidden;
    list-style-type: none;
}
a:hover {
    color: blue;
}
.img {
    width: 20%;
    padding-left: 40%;
    padding-right: 40%;
}
b {
    font-size: 40px;
}