a {

    color:black;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 2;

}
body {
    margin: 0px;
    background-color: lightgrey;    
}
img {

    width: 100%;    
}
iframe {


    width: 150;
    height: 600;
    border-width: 0px;

}
h1 {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
}
.navbar ul {
    list-style-type: none;
    background-color: grey;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
} 
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: lightgrey; 
}
.navbar li{
    float: left;
}
a:hover {
    background-color: lightgreen;
}
h3 {
    font-family: sans-serif;
    text-align: center;
}
p {
    font-family: sans-serif;
    text-align: center;
}
.logo {
    width: 10%;
}
.annoucement {
    text-align: center;
    background-color: darkred;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
strong {
    font-family: sans-serif;
    text-align: center;
}
iframe {
    width: 24%;
}
img {
    width: 100%;
}
.cat {
    color: brown;
    text-align: center;
}
.productpage {
    width: 300px;
}
.container {
    display: flex;
  }
  
.text {
    margin-right: 20%;
    float: left;
  }
.purchase {
    background-color: lightblue;
    color: darkred;
}